

      img{
      	padding: 2px 2px 2px 2px;
            width: auto;
            max-height:inherit;
      }

      body{
      	padding: 70px;
      }

      .jumbotron{
      	color: #2c3e50;
      	background: #ecf0f1;
      }

      .thumbnail{
            transition: 0.5s;
      }

      .navbar-inverse{
      	background: #2c3e50;
      }

     .navbar-inverse .navbar-nav>li>a{
           color:white;
           transition: 0.5s;
     }

     .navbar-inverse .navbar-brand{
     	color:white;
     }

     .thumbnail:hover{
           transform: scale(1.1, 1.1);
     }

     .navbar-inverse .navbar-nav>li>a:hover{
           background-color: white;
           color: #2c3e50;
     }

     .fa-camera-retro{
           transition: 1.5s;
     }

     .fa-camera-retro:hover{
           transform: rotate3d(1,1,1,360deg);
     }