body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;;
    background-image: linear-gradient(to top right, #0061ff, #60efff);
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 15% 37.5%;
    padding: 0%;
    border: 3px solid black;
}

#addToDo{
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: medium;
    border: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.fa-plus-circle{
    float: right;
}

.delIcons{
    color: white;
    height: 40px;
    width: 0px;
    line-height: 40px;
    opacity: 0;
    margin-right: 20px;
    display: inline-block;
    transition: 0.5s;
    text-align: right;
    padding-right: 5px;
}

.delIcons:hover{
    margin: 0;
    width: 50px;
    opacity: 1;
    background-color: #e63946;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2{
    width: inherit;
    background-color: lightskyblue;
    margin: 0px;
    padding: 10px;
}

li{
    line-height: 40px;
    font-size: 25px;
    transition: 0.5s;
}

li:nth-of-type(2n){
    background-color: #e8e8e4;
}

li:nth-of-type(2n+1){
    background-color: aliceblue;
}

span{
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: 20px;
}