body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;;
    background-image: linear-gradient(to top right, #0061ff, #60efff);
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 15% 37.5%;
    padding: 0%;
    border: 3px solid black;
}

#addToDo{
    width: 100%;
    height: 100%;
    font-size: medium;
    border: none;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

i{
    float: right;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2{
    width: inherit;
    background-color: lightskyblue;
    margin: 0px;
    padding: 10px;
}

li{
    width: inherit;
    margin: 0;
    padding: 5px 2px;
    font-size: large;
}

li:nth-of-type(2n){
    background-color: #e8e8e4;
}

li:nth-of-type(2n+1){
    background-color: aliceblue;
}